createdAt: "2018-11-01T21:56:27.670Z"
updatedAt: "2018-11-02T00:52:36.049Z"
type: "MARKDOWN_NOTE"
folder: "d3bb5fa6d65a439316ea"
title: "UI Automation Frameworks"
content: '''
  # UI Automation Frameworks
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
